// @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
// @import './../../Login/variable';
// body {
//     font-family: 'Alegreya Sans', sans-serif;
// }

// /* Sticky footer position and size
// -------------------------------------------------- */
// // html {
// //   position: relative;
// //   min-height: 100%;
// // }
// body {
//   // Margin bottom by footer height 
//    margin-bottom: 300px;
// }
// .footer {
//   // position: absolute;
//   bottom: 0;
//   width: 100%;
//   /* Set the fixed height of the footer here */
//   height: 300px;
// }

// /* Taller footer on small screens */
// @media (max-width: 567em) {
//     // body {
//     //   margin-bottom: 700px;
//     // }
//     .footer {
//       height: auto;
//     }
// }

// /* Sticky footer style and color
// -------------------------------------------------- */
// footer {
//   padding-top: 30px;
//   background-color: $nav-fot;
//   color: #bbb;
// }

// footer a {
//   color: #999;
//   text-decoration:none;
// }

// footer a:hover, footer a:focus {
//   color: #aaa;
//   text-decoration:none;
//   border-bottom:1px dotted #999;
// }

// footer .form-control {
//     background-color: #1f2022;
//     box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
//     border: none;
//     resize: none;
//     color: #d1d2d2;
//     padding: 0.7em 1em;
// }

// footer .form-group{
//     min-width: 27vw;
//     // background-color: #fff;
// }









body {
  // background: #fbfbfd;
}

.new_footer_area {
  // background: #fbfbfd;
}


.new_footer_top {
  padding: 50px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: #0e7490;
}

.btn_get:hover {
  color: #fff;
  background: #0e7490;
  border-color:#0e7490;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #0e7490;
}

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ti-facebook:before {
  content: "\e741";
}

.ti-twitter-alt:before {
  content: "\e74b";
}

.ti-vimeo-alt:before {
  content: "\e74a";
}

.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  // background: #5e2ced;
  border-color: #0e7490;
  color: #fff;
}

.btn_get_two:hover {
  // background: transparent;
  color: #ffffff;
}

.new_footer_top .f_social_icon a:hover {
  background: #0e7490;
  border-color: #0e7490;
  color: white;
}

.new_footer_top .f_social_icon a+a {
  margin-left: 4px;
}

.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}

.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}

h1,
h2,
h4,
h5,
h6 {
  color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("../../../../public/files/footer_bg.png") no-repeat scroll center 0;
  // background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  // background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  background: url("../../../../public/files/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("../../../../public/files/cyclist.gif") no-repeat center center;
  // background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}


@media only screen and (max-width:426px) {
  .f-content {
    flex-direction: column;
    justify-content: center;
  }

}

@media only screen and (max-width:768px) {
  .f-content {
    justify-content: center;
  }

}




/*************footer End*****************/