.question-form {
    background: rgb(174, 197, 255);
    transition: all .3s;
}

input[type='text'] {
    width: 40%;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

input[type='radio'] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.option-field > .numbering {
    width: 20px;
    text-align: center;
}
.delete-option{
    cursor: pointer;
    font-size: 30px;
}

.option-field {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.option-field  p {
    font-size: 24px !important;
    margin: 0 !important;
}