.question-form {
    /* background: rgb(174, 197, 255); */
    transition: all .3s;
}

input[type='text'],input[type='number'] {
    width: 100%;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    /* border: 2px solid rgb(197, 201, 239); */
    background: transparent;
    color: black;
    border-width: 3px;

}

.disabled-input-field {
    background: none;
    outline: none;
    border: none;
}

input[type='radio'] {
    height: 30px;
    width: 30px;
    cursor: pointer;

}

.option-field>.numbering {
    width: 30px;
    text-align: center;
}

.delete-option {
    cursor: pointer;
    font-size: 20px;
}

.option-field {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.option-field p {
    font-size: 24px !important;
    margin: 0 !important;
}

button{
    cursor: pointer;
}